*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
/* HEADER */

.nav_bar{
    height: 80px;
    padding: 15px 25px 0 ;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    display: flex;
    /* align-items: center; */
    gap: 0.6rem;
    font-size: 1.2rem;
    color: #51565a;
    font-weight: 500;
}
.logo_img{
    width: 50px;
}
.logo_img img{
    padding-top: 5px;
}

.links_list{
    list-style: none;
    display: flex;
    gap: 2rem;
    line-height: 1.8rem;
}

.nav_link{
    font-size: 0.9rem;
    /* padding: 10px 0px 0; */
    color: gray;
    font-weight: 500;
}

.nav_link.active,.nav_link:hover{
    border-bottom: 3px solid #4874B0;
    color: #4874B0;
    cursor: pointer;
}

/* MAIN */

.container{
    max-width: 900px;
    margin: 0 auto;
    /* padding: 50px 0; */
}

.paragr p, .paragr ol{
    margin: 20px 0;
    font-size: 0.9rem;
    line-height: 25px;
    font-weight: 300;
    
    
}
.paragr h4{
    color:#3C4043;
    font-size: 1rem;
    font-weight: 500;

}

.paragr ul{
    margin-left: 50px;
}
.paragr li{
    margin: 30px 12px;
}


.content h3{
    font-size: 1.5rem;
    color:#3C4043;
    font-weight: 500;
    padding-top: 50px;
}
